* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}
.container{
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-top: 80px;
    font-size: 45px;
    font-weight: 250;
}
.level{
    margin-top: 30px;
    text-align: center;
}
.level button{
    text-align: center;
    margin: 0 10px;
    height: 30px;
    width: 80px;
    outline: none;
    border: none;
    background-color: rgb(60, 177, 177);
    color: white;
    border-radius: 5px;
}
button.active{
    background-color: rgb(19, 131, 131);
}
.info{
    margin-top: 20px;
    text-align: center;
}
table{
    background-color: rgb(202, 204, 205);
    margin: 40px auto;
    border-spacing: 1px;
  
}
table td{
    height: 24px;
    width: 24px;
    border: 2px solid;
    border-color: white gray gray white;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
    cursor: pointer;
}


td>div{

    width: 100%;
    height: 100%;
   
}

td>div.mine{
    background: #ccc url('../assets/mine.png') center/cover no-repeat;
    opacity: .4;
}

td>div.flag{
    background :#ccc url('../assets/flag.png')  center/cover no-repeat;
}